*{
    box-sizing: border-box;
}
body{
    background-color:rgb(233, 243, 243  );
    height: 180vh;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    
}
header{
    background-color: white;
    width: 100%;
    border-radius: 20px;
    height: 100px;
    box-shadow: 0px 0px 20px 3px gray;
    position: sticky;
    top: 20px;
    z-index: 1;
}
nav{
    float: right;
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 40px;
    margin-right: 50px;
    
}
.nav_btn{
    color: black;
    text-decoration: none;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    transition: 0.2s;
    
}
.nav_btn:hover{
    color:rgb(250, 93, 241);
}
.logo_img{
    max-width: 140px;
    margin: 10px;
    
}
.logo{
    float: left;
    display: flex;
    align-items: center;
}
.logo_name{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 25px;
}
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}
.text_under_img{
  text-align: center;
  width: 1500px;
  font-size: 35px;
  z-index: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
    border-radius: 20px;
    border: 1px solid;
    transition: 0.3s;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
   .logo_name::selection{
    color:white;
    background-color: blue;
  }
  .nav_btn::selection{
    color:white;
    background-color: blue;
  }
  p::selection{
    color: white;
    background-color: rgb(250, 93, 241);
  }
  
  .circle_big{
    width: 500px;
    height:500px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    align-self: flex-start;
    left:100px ;
  }
  .circle_small{
    width: 300px;
    height:300px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    align-self: flex-start;
    right:250px ;
    top: 500px;
  }
  .circle_medium{
    width: 400px;
    height:400px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    align-self: flex-start;
    top: 1000px;
  }
  .white_part{
    color: white;
  }
